PROBLEM NO:9  SOLUTION

#INCLUDE<STDIO.H>
#INCLUDE<CONIO.H>
VOID MAIN()
{
INT I,K,N;
INT A[20];   //HERE WE CONSIDER THE N  HAS A VALUE WITHIN THE 20// 
CLRSCR();
PRINTF(“ENTER THE SIZE OF ARRAY”);
SCANF(“%D”,&N);
PRINTF(“ENTER THE VALUES FROM 1 TO %D”,N);
FOR(I=0;I<N;I++)
{
SCANF(“%D”,A[I]);
}
FOR(K=0;K<=N;K++)
{
FOR(I=0;I<=(N-1);I++);
{
IF(K==A[I])
{
BREAK;
}
IF(I==(N-1))
{
PRINTF(“%D IS A MISSING NUMBER”,K);
}
}
}
GETCH();
}


